name: ocamlformat
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        ocaml-compiler:
          - "4.14.0"
          # this is no longer true, but I can't change it because this specific name of
          # test is a "required" check. We should change that...

    steps:
    - name: Checkout the OxCaml repo
      uses: actions/checkout@master

    - name: Checkout the parent branch
      run: git fetch origin HEAD --deepen 1

    - name: Set up Opam
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: oxcaml-ci-deps.5.2.0
        opam-repositories: |
          local: file://${{ github.workspace }}/tools/ci/local-opam
          default: https://github.com/ocaml/opam-repository.git
        opam-disable-sandboxing: true
        opam-pin: false
        cache-prefix: ${{ matrix.os }}-v1

    - name: 'Check for the "skip 80ch" PR tag'
      if: ${{ contains( github.event.pull_request.labels.*.name, 'skip 80ch') }}
      run: echo SKIP_80CH=y >> "$GITHUB_ENV"

    - name: Check OCaml Formatting
      run: opam exec -- bash tools/ci/actions/check-fmt.sh
